extends layout

block content
    div(id="title") Creative Sharing
        div(id="description") Share | Support | Inspire
    div(id="descriptions")
      div
        div(class="desc")
            div(class="imageborder")
                img(src="/images/icon2.png")
            img(class="divider" src="/images/divider.png")
            div The Younger Generation
            div Here at
              span(class="cs") Creative Sharing
              span we encourage young people to take a chance at programming and succeed in the field to their greatest potential. To top it all off, this website is run by kids, for kids.
        div(class="desc")
            div(class="imageborder")
                img(src="/images/icon1.png")
            img(class="divider" src="/images/divider.png")
            div Calling All Programmers
            div
              span(class="cs") Creative Sharing
              span is based off of creating a community where people can share their creations made on computers and get feedback from the comunity. We want programmers to come review and contribute to the forums and projects.
        div(class="desc")
            div(class="imageborder")
                img(src="/images/icon3.png")
            img(class="divider" src="/images/divider.png")
            div Graphic Design and Video
            div We recognise that video and graphics design takes lots of time and is a skill. We also realize that it is an art made on the computer which is why we include it here at Creative Sharing.
      div(id="footer")
          a(href="#") Terms of Use
          a(href="#") Privacy Policy
          a(href="#") Contact
          div
          br
          div Copyright © 2016 Joshua Lubin All Rights Reserved.
          a(href="#") Business
          a(href="#") Advertising
          a(href="#") Ban Removal Service
