extends layout

block content
        div(id="pagebody")
          div(id="regCont")
            b(id="registerBold") Logout
            form(action='/logout' method='post')
              input(type='submit' class='loginRegisterMenuInput' value='Logout')
          div(id="footer")
                a(href="#") Terms of Use
                a(href="#") Privacy Policy
                a(href="#") Contact
                div
                br
                div Copyright © 2016 Joshua Lubin All Rights Reserved.
                a(href="#") Buisness
                a(href="#") Advertisement
                a(href="#") Ban Removal Service
